@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Reem+Kufi&display=swap');
*{
    box-sizing: border-box;
}
#section-1{
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
    display: flex;
    justify-content: space-between;
}
#section-2{
    order: 2;
    font-size: 1.4em;
    background-color: #0000002e;
    line-height: 1.8em;
}
#section-2 a{
    text-decoration: none;
}


/* This is for making the like hover effect */

#section-2 a {
    position: relative;
  }
  
#section-2 a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(2, 2, 125);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

#section-2 a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#section-2 a:active{
    color: rgb(2, 2, 125);
}
html::before
{
    content: "";
    background: url(./img/bg.jpg) repeat center center/cover;
    z-index: -1;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.3;
}
body{
    width: 90vw;
    margin: 0px auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
nav ul{
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    list-style: none;
}

nav ul li{
    font-size: 1.5em;
}
div.icon{
    width: fit-content;
}

nav ul li:hover,
.icon:hover{
    color: red;
    text-shadow: 0px 0px 2px red , 0px 0px 4px red;
    transition-duration: 1s;
}
nav a{
    text-decoration: none;
    color: #c63636;
    
}

.ham-items a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #c63636;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
.ham-items a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}
.ham-items a:active{
    color: #c63636;
}

.color{
    color: #c63636;;
}
nav{
    /* background-color: rgba(0, 0, 0, 0.877); */
    height: 50px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* position: fixed; */
}

#main-container{
    margin-top: 50px;
    display: grid;
    /* grid-template-columns: 3fr 2fr; */
}
.icons{
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
}
.icon{
    padding: 10px;
}
.icon a{
    color: rgb(2, 2, 125);
}
#name{
    font-size: 3.8em;
    font-family: 'Ibarra Real Nova', serif;
}
#first-part-of-name{
    color: #c63636;
    line-height: 1.4em;
}
#typing-effect{
    color: rgb(2, 2, 125);
    height: 160px;
}

#info_summary{
    font-size: 2.3em;
    color: rgb(2, 2, 125);
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
}
.bold{
    font-size: 1.05em;
    color: #c63636;
}

#about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    width: 80vw;
}
.heading{
    text-align: center;
    font-size: 3em;
}


#about-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 70px;
    font-size: 1.6em;
    text-align: right;
    padding-right: 35px;
    border-right: 5px solid #c63636;
    font-family: 'EB Garamond', 'Times New Roman', serif;
}
#about-ques{
    font-size: 1.3em;
    
}

#prj-Content{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 128px;
    font-family: 'EB Garamond', 'Times New Roman', serif;
}
 .prj-img-div{
    display: flex;
    justify-content: center;
    align-content: center;
} 
.backColor{
    background-color: #00000018;
    padding-top: 20px;
}
.prj-content{
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    line-height: 1.2em;
    height: 320px;
    margin-top: -45px;
}
.prj-content h1{
    font-size: 1.2em;
    padding-top: 30px;
}
.prj-img:hover{
        transform: scale(1.2);
        transition: 1s;
}

.prj-img{
    transition: all 1s;
}
.prj-img-div{
    overflow: hidden;
    width: 500px;
}
.prj{
    border-bottom: 5px solid #c63636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

#form-content{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    margin: 20px auto;
    font-family: 'EB Garamond', 'Times New Roman', serif;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-flow: row;
}
#form-content{
    border-left: 5px solid #c63636;
    padding-left: 40px;
    ;
}
#form-container{
    font-size: 1.5em;
}
input{
    height: 35px;
    width: 97%;
    text-align: left;
}
textarea{
    width: 97%;
}
input, textarea{
    border-radius: 10px;
    padding-left: 10px;
}
input:focus, textarea:focus{
    background-color: lightblue;
}
button{
    width: 150px;
    height: 50px;
    font-size: 1.3em;
}
button:hover{
    border: 1px solid #c63636;
    background-color: lightblue;
}
.border-red{
    border: 3px solid #c63636;
}
.contact-icon{
    padding: 10px;
    color: rgb(2, 2, 125);
}
.contact a{
    color: rgb(2, 2, 125);
    text-decoration: none;
}
#contact-1 a:hover,
#contact-2 a:hover
{
    color: #c63636 !important; 
}

.main-section{
    margin-top: 100px;
}
.required{
    color: red;
}

nav ul li:hover, .icon:hover {
    color: red;
    text-shadow: 0px 0px 0px red , 0px 0px 1px red;
    transition-duration: 0.8s;
  }


footer{
    width: 100%;
    background-color: #0000002e;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 50px;
}
.clicked{
    display: block;
    transition: 1s;
}
.unclicked{
    display: none;
}
/* .border-red{
    border: 2px solid red;
} */

#menu-bar{
    display: none;
}
#ham{
    display: none;
}

#menu-icon a,
#menu-icon h2, 
#menu-icon img,
#menu-icon{
    display: none;
}
span#menu-icon{
    display: none;
}
#menu-icon{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items:center;
    
}
#title{
    margin: 0px;
    font-size: 1.7em;
}

#menu-icon img{
    padding: 10px;
    width: 58px;
    height: 58px;
    border-radius: 50px;
}
#prof-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 30px;
    border-right: 5px solid #c63636;
    text-align: right;
}
#prof-title{
    font-size: 2em;
}
#video{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1200px){
    #section-2{
        order: 1;
        width: 90%;
        margin: 0px auto;
    }
    #section-1{
        flex-direction: column;
    }
    .intro{
        order: 2;
        margin-top: 60px;
    }
    #prj-Content{
        grid-template-columns: 1fr;
    }
}
 @media only screen and (max-width: 570px){
    #about-text{
        font-size: 0.8em;
    }
    
    .heading{
        font-size:2.2em;
    }
} 
@media only screen and (max-width: 650px){
    *{
        height: fit-content;
    }
    nav a{
        text-decoration: none;
        color: #ffffff;
        
    }
    iframe{
        width: 80vw;
        height: 200px;
    }

    #prof-title{
        font-size: 1.5em;
    }
    nav{
        height: fit-content;
    }
    nav ul{
        height: fit-content;
    }
    body{
        margin: 0px;
        width: 100%;
    }
    #ham{
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px;
    }
    .ham-items a {
        color: #ffffff;
        
    }
    .ham-items a:active {
        color: #c63636;
    }
    #menu-bar{
        display: block;
    }
    span#menu-icon{
        display: flex;
    }
    nav ul{
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0px;
        justify-content: center;
        align-items: center;
        background-color: #00000018;
    }
    .ham-items{
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
    .under{
        border-bottom: 3px solid gray;
    }
    #ham-main{
        display: none;
    }
    #menu-icon a,#menu-icon h2, #menu-icon img{
        display: block;
    }
    #menu-icon{
        background-color:#00000018;
    }
}
@media only screen and (max-width: 850px){
    #form-content{
        grid-template-columns: 1fr;
        border: none;
    }
    #prof-main{
        grid-template-columns: 1fr;
        text-align: center;
    }
    #form-container{
        border-left: 5px solid #c63636;
        padding: 35px;
    }
    #about-content img{
        width: 300px;
    }
    
    #info_summary{
        font-size: 1.8em;
    }
    main{
        width: 95%;
        margin: 0px auto;
    }
    
    #about{
        
        margin: 20px 10vw;
    }
    #about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* grid-template-columns: 1fr; */
        /* grid-gap: 10px; */
        border:0ch
    }
    #about-text{
        border-right: 5px solid #c63636;
        padding-right: 40px;
        text-align: center;
        margin-top: -60px;
    }
    h2, h1{
        margin: 15px;
    }
    #prj-Content{
        grid-gap: 70px;
        margin-top: 40px;
    }
}
@media only screen and (max-width: 660px){
    .prj{
        width: 90vw;
        margin: 0px auto;
    }
    .prj-img-div,
    .prj-img-div img{
        width: 80vw;
    }
    .prj-content{
        font-size: 1.1em;
    }
    .heading{
        font-size:1.8em;
    }
    h2{
        font-size: 1.6em;
    }
    #form-content{
        padding-left: 0px;
    }
    footer{
        font-size: 1.3em;
    }
    #name
    {
        font-size:2em;
        height: 100px;
    }
    #info_summary{
        font-size: 1.8em;
    }
}
@media only screen and (max-width: 450px){
    #info_summary{
        font-size: 1.4em;
    }
    .prj{
        margin:0px auto;
    }
    #name
    {
        font-size:1.5em;
        height: 100px;
    }
    #about-text{
        width: 90vw;
    }
    .prj-content{
        font-size: 0.9em;
    }
    footer{
        font-size: 1em;
    }
    #section-2{
        display: none;
    }
    #section-1{
        margin-top: -80px;
    }
    #form-content{
        width: 90vw;
    }
    main{
        width: 100%;
    }
}